BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
Standard: c++14
ColumnLimit: 88
ReflowComments: true
AllowShortIfStatementsOnASingleLine: true
SpaceAfterCStyleCast: false

AlwaysBreakTemplateDeclarations: Yes

BreakBeforeBraces: Allman
# BraceWrapping:
#   AfterFunction: true

# Break initializer list after colon
BreakConstructorInitializers: AfterColon

# Align initializer list with no leading commas
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllConstructorInitializersOnNextLine: false
